@import "./libs/reset.css";

// Breakpoints

@tablet: 768px;
@mobile: 767px;

.OnMobile(@rules) {
    @media screen and (max-width: @mobile) { @rules();
    }
}

;
.OnDesktop(@rules) {
    @media screen and (min-width: @tablet) { @rules();
    }
}

;

// Variables

@content-width: 1200px;
@font-p14: 400 14px Montserrat;
@font-p16: 400 16px Montserrat;
@font-22:  400 22px Montserrat;
@font-22-b: bold 22px Montserrat;
@font-24: 400 24px Montserrat;
@font-36: 400 36px Montserrat;
@font-36-b: bold 36px Montserrat;

// Colors

@color-black: #000;
@color-white: #fff;
@font-family-base: 'Montserrat', sans-serif;
@color-active-state: #0c8eff;
@color-red: #ff4d4d;
@color-purple: #725dec;
@color-white-opacity: rgba(255, 255, 255, 0.2);
@color-green: #7de321;
@color-mint: #50e37b;
@color-sky: #f6f9fc;
@color-orange: #ff9417;
@color-pink: #ff5fac;
// Buttons

@button-box-shadow: 0 2px 15px rgba(63, 64, 65, 0.21);
@button-border-radius: 5px;
@button-min-width: 335px;
@button-min-height: 67px;
@button-line-height: 67px;
@button-max-width: 400px;

@button-secondary-background-color: #7ed321;
@button-secondary-active-color: #68bb0e;
@button-secondary-color: @color-white;
@button-secondary-min-width: 207px;
@button-secondary-min-height: 53px;
@button-secondary-line-height: @button-secondary-min-height;

// Mixins

#flex() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#flexwrap(@value: wrap) {
    -webkit-flex-wrap: @value;
    flex-wrap: @value;
}

#flexbasis(@basis: auto) {
    -webkit-flex-basis: @basis;
    flex-basis: @basis;
}

#flexgrow(@grow: auto) {
    -webkit-flex-grow: @grow;
    flex-grow: @grow;
}

#flexorder(@order: 1) {
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}

#flex-direction(@value: column) {
    -webkit-flex-direction: @value;
    -ms-flex-direction: @value;
    flex-direction: @value;
}

#justify-content(@justify) {
    -webkit-justify-content: @justify;
    -moz-justify-content: @justify;
    -ms-justify-content: @justify;
    justify-content: @justify;
    -ms-flex-pack: @justify;
}

#align-content(@align) {
    -webkit-align-content: @align;
    -moz-align-content: @align;
    -ms-align-content: @align;
    align-content: @align;
}

#flexshrink(@shrink: 1) {
    -webkit-flex-shrink: @shrink;
    flex-shrink: @shrink;
}

#transition () {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#extensions-carousel-lot (@color) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: @color;

    .OnMobile({
    width: 20%;
    })

}

#mont-text (@size: 20px) {
    font: 400 @size Montserrat;
}

#why-item-img (@img-url) {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        border-radius: 100px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        background-image: @img-url;
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center;

}

#user-img (@img-url) {
    width: 130px;
    height: 130px;
    margin: 0 auto 30px;
    border-radius: 100px;
    border: 1px solid black; // @todo del
    background-image: url(@img-url);
}

#checkbox () {
    display: block;
    position: relative;
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid @color-green;
    border-radius: 5px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    visibility: visible;
}

#free-icon {
    margin-right: 35px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: @color-white;
    background-color: @color-purple;
    border-radius: 50px;
    padding: 3px 10px;
}

#reviews-num {
    display: inline-block;
    width: 82px;
    color: @color-purple;
}

#check_mark {
    position: relative;
    left: -35px;
    display: inline-block;
    content: "\2714";
    width: 16px;
    height: 16px;
    margin-right: -22px;
    border: 2px solid @color-green;
    border-radius: 100px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
}

#video-other-item (@color) {
    cursor: pointer;
    display: block;
    width: 270px;
    height: 65px;
    #mont-text(18px);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: @color;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: @color-sky;
    transition: 0.5s;

    &:hover {
        color: @color-white;
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
        transition: 0.5s;
    }

    p {
        line-height: 65px;
        padding-left: 25px;
    }

    &:after {
        display: block;
        position: relative;
        left: 75%;
        top: -62px;
        margin-top: 4px;
        width: 45px;
        height: 45px;
        text-align: center;
        content: "\25b6";
        font-size: 20px;
        line-height: 45px;
        color: @color;
        border: 2px solid @color;
        border-radius: 40px;
        background-color: @color-white;
    }
}
// Styles

body {
    font-family: @font-family-base;
}

.btn {
    #transition();
    display: inline-block;
    text-decoration: none;
    text-align: center;

    .OnMobile({
        margin: auto;
        max-width: @button-max-width;
        display: block;
    });
}

.btn-primary {
    min-height: @button-min-height;
    line-height: @button-line-height;
    border: 1px solid transparent;
    box-shadow: @button-box-shadow;
    border-radius: @button-border-radius;
    font-size: 24px;
    color: @color-black;
    background: @color-white;
    margin: 0 auto;

    .OnDesktop({
        min-width: @button-min-width;
        max-width: @button-max-width;
    });

    .OnMobile({
        width: 100%;
    });

    &:hover {
        border: 1px solid @color-active-state;
        color: @color-active-state;
    }
}

.btn-secondary {
    min-height: @button-secondary-min-height;
    background: @button-secondary-background-color;
    color: @button-secondary-color;
    line-height: @button-secondary-line-height;
    border-radius: 46px;
    font-size: 18px;

    .OnDesktop({
        min-width: @button-secondary-min-width;
    });

    .OnMobile({
       width: 100%;
    });

    &:hover {
        background: @button-secondary-active-color;
    }
}

.content-width {
    margin: auto;
    padding: 0 20px;
    width: 100%;
    max-width: @content-width;
    box-sizing: border-box;
}