@import "./libs/reset.css";

// Breakpoints

@tablet: 768px;
@mobile: 767px;

.OnMobile(@rules) {
    @media screen and (max-width: @mobile) { @rules();
    }
}

;
.OnDesktop(@rules) {
    @media screen and (min-width: @tablet) { @rules();
    }
}

;

// Variables

@content-width: 1200px;
@font-p16: 400 16px Montserrat;
@font-p14: 400 16px Montserrat;
@font-h2: 400 36px Montserrat;
@font-h3: bold 36px Montserrat;

// Colors

@color-black: #000;
@color-white: #fff;
@font-family-base: 'Montserrat', sans-serif;
@color-active-state: #0c8eff;
@color-red: #ff4d4d;
// Buttons

@button-box-shadow: 0 2px 15px rgba(63, 64, 65, 0.21);
@button-border-radius: 5px;
@button-min-width: 335px;
@button-min-height: 67px;
@button-line-height: 67px;
@button-max-width: 400px;

@button-secondary-background-color: #7ed321;
@button-secondary-active-color: #68bb0e;
@button-secondary-color: @color-white;
@button-secondary-min-width: 207px;
@button-secondary-min-height: 53px;
@button-secondary-line-height: @button-secondary-min-height;

// Mixins

#flex() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#flexwrap(@value: wrap) {
    -webkit-flex-wrap: @value;
    flex-wrap: @value;
}

#flexbasis(@basis: auto) {
    -webkit-flex-basis: @basis;
    flex-basis: @basis;
}

#flexgrow(@grow: auto) {
    -webkit-flex-grow: @grow;
    flex-grow: @grow;
}

#flexorder(@order: 1) {
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}

#flex-direction(@value: column) {
    -webkit-flex-direction: @value;
    -ms-flex-direction: @value;
    flex-direction: @value;
}

#justify-content(@justify) {
    -webkit-justify-content: @justify;
    -moz-justify-content: @justify;
    -ms-justify-content: @justify;
    justify-content: @justify;
    -ms-flex-pack: @justify;
}

#align-content(@align) {
    -webkit-align-content: @align;
    -moz-align-content: @align;
    -ms-align-content: @align;
    align-content: @align;
}

#flexshrink(@shrink: 1) {
    -webkit-flex-shrink: @shrink;
    flex-shrink: @shrink;
}

#transition () {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#extensions-carousel-lot (@color) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: @color;

    .OnMobile({
    width: 20%;
    })

}

#mont-text (@size: 20px) {
    font: 400 @size Montserrat;
}

#why-item-img (@img-url) {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        border-radius: 100px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        background-image: @img-url;
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center;

}

// Styles

body {
    font-family: @font-family-base;
}

.btn {
    #transition();
    display: inline-block;
    text-decoration: none;
    text-align: center;

    .OnMobile({
        margin: auto;
        max-width: @button-max-width;
        display: block;
    });
}

.btn-primary {
    min-height: @button-min-height;
    line-height: @button-line-height;
    border: 1px solid transparent;
    box-shadow: @button-box-shadow;
    border-radius: @button-border-radius;
    font-size: 24px;
    color: @color-black;
    background: @color-white;
    margin: 0 auto;

    .OnDesktop({
        min-width: @button-min-width;
        max-width: @button-max-width;
    });

    .OnMobile({
        width: 100%;
    });

    &:hover {
        border: 1px solid @color-active-state;
        color: @color-active-state;
    }
}

.btn-secondary {
    min-height: @button-secondary-min-height;
    background: @button-secondary-background-color;
    color: @button-secondary-color;
    line-height: @button-secondary-line-height;
    border-radius: 46px;
    font-size: 18px;

    .OnDesktop({
        min-width: @button-secondary-min-width;
    });

    .OnMobile({
       width: 100%;
    });

    &:hover {
        background: @button-secondary-active-color;
    }
}

.content-width {
    margin: auto;
    padding: 0 20px;
    width: 100%;
    max-width: @content-width;
    box-sizing: border-box;
}