@import "_base";
@import "_header";

.banner-wrapper {
  padding: 0;
  background-color: @color-purple;

  .header-block {
    height: 100px;
    background-color: @color-white-opacity;

    &>div,
    &>nav{
      margin: auto;
    }

  }

  .product {
    #flex;
    width: 1000px;
    margin: 70px auto 70px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

    .product-rating {
      #flex-direction(column);
      height: 500px; // заплажка
      background-color: rgba(255, 255, 255, 0.1);


      .product-rating-img {
        width: 135px;
        height: 135px;
        margin: 50px 35px 35px;
      }

      .product-rating-stars {
        margin: 0 auto 10px;
      }

      .product-rating-dis {
        text-align: center;
        color: @color-white;
        font: @font-p16;

        .product-rating-reviews {
          text-decoration: underline;
        }

      }

    }

    .product-dis {
      width: 470px;
      #flex-direction(column);
      background-color: @color-white;
      padding: 0 0 180px 40px;


      .product-dis-name {
        width: max-content;
        margin: 60px 0 35px;
        font: @font-36;
      }

      .product-dis-items {
        width: max-content;
        font: @font-p16;

        li:before {
          content: '\26AB';
          font-size: 5px;
          line-height: 16px;
          padding-right: 5px;
          vertical-align: text-top;
        }
      }


    }

    .product-buy {
      #flex;
      #flex-direction(column);
      #justify-content(space-between);
      width: 300px;
      padding: 40px 35px 20px 45px;
      background-color: @color-white;
      box-shadow: inset 0px 8px 20px rgba(63, 64, 65, 0.21);;

      .product-buy-item {
        #mont-text(18px);
        line-height: 26px;

        .buy-free-icon {
          #free-icon;
        }

        .buy-reviews-num {
          #reviews-num;
        }

        .buy-point-checkbox {
          width: 25px;
          height: 25px;
          margin-left: 15px;
          margin-right: 40px;
          visibility: hidden;

          &:after {
            content: "";
            #checkbox;
          }

          &:checked:after {
            content: "\2714";
            color: @color-green;
            #checkbox;

          }
        }
    }

    .product-buy-month {
      position: relative;
      left: -20px;
      width: 105%;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 0 8px 20px rgba(63, 64, 65, 0.21);
      background-color: @color-white;

      .product-buy-item {


        .buy-month-prise {
          font:  @font-36-b;
        }
      }

        .buy-month-trial {
          width: max-content;
          margin-top: 5px;
          padding: 0 5px;
          border-radius: 5px;
          background-color: @color-mint;
          font: @font-p14;
        }
    }
    }
  }

  .screenshots {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 60px;

    .screenshots-h2 {
      text-align: center;
      font: @font-36;
      color: @color-white;
      margin-bottom: 55px;
    }

    .screenshots-img {
      width: 200px;
      height: 120px;
      background-color: #000;
      margin: 0 20px;
      border: 1px solid white;
    }
  }

}

.feature {
  #flex;
  #flex-direction();
  background-color: @color-sky;
  padding-bottom: 90px; // @todo сделать падинг для всего блока

  .feature-two {
    #flex;
    #justify-content(space-between);
    padding: 60px 100px 20px;
    background-color: @color-white;

    .feature-two-dis {
      #flex;
      #flex-direction();
      width: 100%;

      .two-dis-h2 {
        font: @font-22-b;
        margin-bottom: 20px;
      }

      .two-dis-info {
        font: @font-p16;
        margin-bottom: 55px;
      }

      .two-dis-list {
        list-style: none;
        width: 85%;

        .two-dis-list-item {
          font: @font-p16;
          margin-bottom: 20px;
          padding-left: 35px;

          &:before {
            position: relative;
            left: -35px;
            display: inline-block;
            content: "\2714";
            width: 16px;
            height: 16px;
            margin-right: -22px;
            border: 2px solid @color-green;
            border-radius: 100px;
            line-height: 16px;
            font-size: 16px;
            text-align: center;
            color: @color-green;

          }
        }
      }
    }

    .feature-two-img {
      min-width: 535px;
      height: 400px;
    }
  }

  .feature-three {
    #flex;
    #justify-content(space-between);
    padding: 60px 100px 20px;
    margin-bottom: 70px;

    .feature-three-img {
      margin-right: 100px;
      min-width: 535px;
      height: 400px;

    }

    .feature-three-dis {
      #flex;
      #flex-direction();
      width: 100%;

      .three-dis-h2 {
        font: @font-22-b;
        margin-bottom: 20px;
      }

      .three-dis-info {
        font: @font-p16;
        margin-bottom: 55px;
      }

      .three-dis-list {
        list-style: none;
        width: 85%;

        .three-dis-list-item {
          font: @font-p16;
          margin-bottom: 20px;
          padding-left: 35px;

          &:before {
            position: relative;
            left: -35px;
            display: inline-block;
            content: "\2714";
            width: 16px;
            height: 16px;
            margin-right: -22px;
            border: 2px solid @color-green;
            border-radius: 100px;
            line-height: 16px;
            font-size: 14px;
            text-align: center;
            color: @color-white;
            background-color: @color-green;

          }
        }

      }
    }
  }

  .feature-btn {
    width: 60px;
    margin: 0 auto;
  }
}

.user-reviews {
  #flex;
  #flex-direction();
  padding: 100px 100px 90px;
  background-color: #f6f9fc;

  .reviews-h2 {
    font: @font-36;
    text-align: center;
  }

  .reviews-users {
    #flex;
    #justify-content(space-around);
    margin: 60px 0 70px;

    .reviews-users-user {
      #flex;
      #flex-direction();
      width: 320px;
      height: 480px;
      padding: 35px;
      box-sizing: border-box;
      border: 1px solid #dddfe0;
      background-color: @color-white;



      .users-user1-img {
        #user-img("../images/clients/images_user.png");
      }
      .users-user2-img {
        #user-img("../images/clients/images_user.png");
      }
      .users-user3-img {
        #user-img("../images/clients/images_user.png");
      }

      .users-user-name {
        font: @font-22;
        text-align: center;
        margin-bottom: 15px;
      }

      .users-user-post {
        font: @font-p14;
        text-align: center;
      }
    }
  }

  .user-reviews-btn {
    width: 335px;
    margin: 0 auto;
    padding: 20px 70px;
    text-align: center;
    font: @font-24;
    background-color: @color-white;
    box-shadow: 0px 2px 15px rgba(63, 64, 65, 0.21);
    border-radius: 5px;
  }
}

.get-product {
  padding: 90px 400px 200px;
  background-color: #836EFF;

  .get-product-banner {

    background-color: @color-sky;
  }

  .product-banner-info {
    background-color: @color-sky;

    .banner-info-free {

      .banner-info-item {
        #mont-text(18px);
        line-height: 26px;

        .banner-info-free-icon {
          #free-icon;
        }
      }
    }
    .banner-info-reviews {

      .banner-info-item {
        #mont-text(18px);
        line-height: 26px;

        .banner-info-reviews-num {
            #reviews-num;
        }
      }
    }
  }

  .get-product-buy {
    height: 175px;
    width: 102%;
    margin-left: -1%;
    border-radius: 5px;
    background-color: @color-white;
    box-shadow: 0px 8px 20px rgba(63, 64, 65, 0.21);
  }
}