@import "libs/reset.css";
#free-icon {
  margin-right: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #725dec;
  border-radius: 50px;
  padding: 3px 10px;
}
#reviews-num {
  display: inline-block;
  width: 82px;
  color: #725dec;
}
#check_mark {
  position: relative;
  left: -35px;
  display: inline-block;
  content: "\2714";
  width: 16px;
  height: 16px;
  margin-right: -22px;
  border: 2px solid #7de321;
  border-radius: 100px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .btn {
    margin: auto;
    max-width: 400px;
    display: block;
  }
}
.btn-primary {
  min-height: 67px;
  line-height: 67px;
  border: 1px solid transparent;
  box-shadow: 0 2px 15px rgba(63, 64, 65, 0.21);
  border-radius: 5px;
  font-size: 24px;
  color: #000;
  background: #fff;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .btn-primary {
    min-width: 335px;
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .btn-primary {
    width: 100%;
  }
}
.btn-primary:hover {
  border: 1px solid #0c8eff;
  color: #0c8eff;
}
.btn-secondary {
  min-height: 53px;
  background: #7ed321;
  color: #fff;
  line-height: 53px;
  border-radius: 46px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .btn-secondary {
    min-width: 207px;
  }
}
@media screen and (max-width: 767px) {
  .btn-secondary {
    width: 100%;
  }
}
.btn-secondary:hover {
  background: #68bb0e;
}
.content-width {
  margin: auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
.header-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 0 50px;
}
.header-block .header-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-block .header-menu .header-menu-punkt,
.header-block .header-menu .header-menu-punkt__green {
  display: block;
  line-height: 23px;
  width: 100px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.header-block .header-menu .header-menu-punkt:hover,
.header-block .header-menu .header-menu-punkt__green:hover,
.header-block .header-menu .header-menu-punkt:active,
.header-block .header-menu .header-menu-punkt__green:active {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header-block .header-menu .header-menu-punkt__green {
  width: 130px;
  background-color: #7ed321;
  border-radius: 25px;
}
.header-block .header-activ {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font: 400 16px Montserrat;
  color: #fff;
}
.header-block .header-activ .header-activ-item {
  margin-right: 25px;
}
.header-block .header-activ .cart {
  margin-right: 0;
}
.header-block .header-activ .cart:after {
  content: "3";
  display: inline-block;
  text-align: center;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: #fff;
  background-color: #ff4d4d;
  font: 400 16px Montserrat;
  top: -10px;
  left: -10px;
}
.header-block .header-activ .header-logform-btn {
  font: 400 16px Montserrat;
  height: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  background: none;
}
.header-block .header-activ .header-logform-btn:hover,
.header-block .header-activ .header-logform-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.banner-wrapper {
  padding: 0;
  background-color: #725dec;
}
.banner-wrapper .header-block {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}
.banner-wrapper .header-block > div,
.banner-wrapper .header-block > nav {
  margin: auto;
}
.banner-wrapper .product {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 70px auto 70px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.banner-wrapper .product .product-rating {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
}
.banner-wrapper .product .product-rating .product-rating-img {
  width: 135px;
  height: 135px;
  margin: 50px 35px 35px;
}
.banner-wrapper .product .product-rating .product-rating-stars {
  margin: 0 auto 10px;
}
.banner-wrapper .product .product-rating .product-rating-dis {
  text-align: center;
  color: #fff;
  font: 400 16px Montserrat;
}
.banner-wrapper .product .product-rating .product-rating-dis .product-rating-reviews {
  color: #fff;
  text-decoration: underline;
}
.banner-wrapper .product .product-dis {
  width: 470px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  padding: 0 0 180px 40px;
}
.banner-wrapper .product .product-dis .product-dis-name {
  width: max-content;
  margin: 60px 0 35px;
  font: 400 36px Montserrat;
}
.banner-wrapper .product .product-dis .product-dis-items {
  width: max-content;
  font: 400 16px Montserrat;
}
.banner-wrapper .product .product-dis .product-dis-items li {
  margin-bottom: 5px;
}
.banner-wrapper .product .product-dis .product-dis-items li:before {
  content: '\26AB';
  font-size: 5px;
  line-height: 16px;
  padding-right: 5px;
  vertical-align: text-top;
}
.banner-wrapper .product .product-buy {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 300px;
  padding: 40px 35px 20px 45px;
  background-color: #fff;
  box-shadow: inset 0 8px 20px rgba(63, 64, 65, 0.21);
}
.banner-wrapper .product .product-buy .product-buy-item {
  font: 400 18px Montserrat;
  line-height: 26px;
}
.banner-wrapper .product .product-buy .product-buy-item .buy-free-icon {
  margin-right: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #725dec;
  border-radius: 50px;
  padding: 3px 10px;
}
.banner-wrapper .product .product-buy .product-buy-item .buy-reviews-num {
  display: inline-block;
  width: 82px;
  color: #725dec;
}
.banner-wrapper .product .product-buy .product-buy-item .buy-point-checkbox {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 40px;
  visibility: hidden;
}
.banner-wrapper .product .product-buy .product-buy-item .buy-point-checkbox:after {
  content: "";
  display: block;
  position: relative;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #7de321;
  border-radius: 5px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  visibility: visible;
}
.banner-wrapper .product .product-buy .product-buy-item .buy-point-checkbox:checked:after {
  content: "\2714";
  color: #7de321;
  display: block;
  position: relative;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #7de321;
  border-radius: 5px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  visibility: visible;
}
.banner-wrapper .product .product-buy .product-buy-month {
  position: relative;
  left: -20px;
  width: 105%;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(63, 64, 65, 0.21);
  background-color: #fff;
}
.banner-wrapper .product .product-buy .product-buy-month .product-buy-item .buy-month-prise {
  font: bold 36px Montserrat;
}
.banner-wrapper .product .product-buy .product-buy-month .buy-month-trial {
  width: max-content;
  margin-top: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #50e37b;
  font: 400 14px Montserrat;
}
.banner-wrapper .screenshots {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.banner-wrapper .screenshots .screenshots-h2 {
  text-align: center;
  font: 400 36px Montserrat;
  color: #fff;
  margin-bottom: 55px;
}
.banner-wrapper .screenshots .screenshots-img {
  width: 200px;
  height: 120px;
  background-color: #000;
  margin: 0 20px;
  border: 1px solid white;
}
.video {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 73px 10% 60px;
  background-color: #f6f9fc;
  background-image: url("../images/clients/video-back.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.video .video-h2 {
  font: 400 36px Montserrat;
  text-align: center;
  margin-bottom: 55px;
}
.video .video-prev {
  width: 600px;
  height: 300px;
  margin: 0 auto 125px;
  box-shadow: 0 8px 20px rgba(63, 64, 65, 0.21);
}
.video .video-other {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.video .video-other .video-other-item__purple {
  cursor: pointer;
  display: block;
  width: 270px;
  height: 65px;
  font: 400 18px Montserrat;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #725dec;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #f6f9fc;
  transition: 0.5s;
}
.video .video-other .video-other-item__purple:hover {
  color: #fff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.video .video-other .video-other-item__purple p {
  line-height: 65px;
  padding-left: 25px;
}
.video .video-other .video-other-item__purple:after {
  display: block;
  position: relative;
  left: 75%;
  top: -62px;
  margin-top: 4px;
  width: 45px;
  height: 45px;
  text-align: center;
  content: "\25b6";
  font-size: 20px;
  line-height: 45px;
  color: #725dec;
  border: 2px solid #725dec;
  border-radius: 40px;
  background-color: #fff;
}
.video .video-other .video-other-item__purple:hover {
  background: linear-gradient(270deg, #836EFF 13.04%, #B694FF 100%);
}
.video .video-other .video-other-item__orange {
  cursor: pointer;
  display: block;
  width: 270px;
  height: 65px;
  font: 400 18px Montserrat;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #ff9417;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #f6f9fc;
  transition: 0.5s;
  margin: 0 10%;
}
.video .video-other .video-other-item__orange:hover {
  color: #fff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.video .video-other .video-other-item__orange p {
  line-height: 65px;
  padding-left: 25px;
}
.video .video-other .video-other-item__orange:after {
  display: block;
  position: relative;
  left: 75%;
  top: -62px;
  margin-top: 4px;
  width: 45px;
  height: 45px;
  text-align: center;
  content: "\25b6";
  font-size: 20px;
  line-height: 45px;
  color: #ff9417;
  border: 2px solid #ff9417;
  border-radius: 40px;
  background-color: #fff;
}
.video .video-other .video-other-item__orange:hover {
  background: linear-gradient(270.52deg, #FF9417 0.98%, #FCCF32 99.95%);
}
.video .video-other .video-other-item__pink {
  cursor: pointer;
  display: block;
  width: 270px;
  height: 65px;
  font: 400 18px Montserrat;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #ff5fac;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #f6f9fc;
  transition: 0.5s;
}
.video .video-other .video-other-item__pink:hover {
  color: #fff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.video .video-other .video-other-item__pink p {
  line-height: 65px;
  padding-left: 25px;
}
.video .video-other .video-other-item__pink:after {
  display: block;
  position: relative;
  left: 75%;
  top: -62px;
  margin-top: 4px;
  width: 45px;
  height: 45px;
  text-align: center;
  content: "\25b6";
  font-size: 20px;
  line-height: 45px;
  color: #ff5fac;
  border: 2px solid #ff5fac;
  border-radius: 40px;
  background-color: #fff;
}
.video .video-other .video-other-item__pink:hover {
  background: linear-gradient(270.57deg, #FF5FAC -4.88%, #FFA9A9 104.08%);
}
.feature {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f9fc;
  padding-bottom: 90px;
}
.feature .feature-two {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 60px 100px 20px;
  background-color: #fff;
}
.feature .feature-two .feature-two-dis {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: max-content;
}
.feature .feature-two .feature-two-dis .two-dis-h2 {
  font: bold 22px Montserrat;
  margin-bottom: 20px;
}
.feature .feature-two .feature-two-dis .two-dis-info {
  font: 400 16px Montserrat;
  margin-bottom: 55px;
}
.feature .feature-two .feature-two-dis .two-dis-list {
  list-style: none;
  width: 85%;
}
.feature .feature-two .feature-two-dis .two-dis-list .two-dis-list-item {
  font: 400 16px Montserrat;
  margin-bottom: 20px;
  padding-left: 35px;
}
.feature .feature-two .feature-two-dis .two-dis-list .two-dis-list-item:before {
  position: relative;
  left: -35px;
  display: inline-block;
  content: "\2714";
  width: 16px;
  height: 16px;
  margin-right: -22px;
  border: 2px solid #7de321;
  border-radius: 100px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  color: #7de321;
}
.feature .feature-two .feature-two-img {
  min-width: 535px;
  height: 400px;
}
.feature .feature-three {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 60px 100px 20px;
  margin-bottom: 70px;
}
.feature .feature-three .feature-three-img {
  margin-right: 100px;
  min-width: 535px;
  height: 400px;
}
.feature .feature-three .feature-three-dis {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: max-content;
}
.feature .feature-three .feature-three-dis .three-dis-h2 {
  font: bold 22px Montserrat;
  margin-bottom: 20px;
}
.feature .feature-three .feature-three-dis .three-dis-info {
  font: 400 16px Montserrat;
  margin-bottom: 55px;
}
.feature .feature-three .feature-three-dis .three-dis-list {
  list-style: none;
  width: 85%;
}
.feature .feature-three .feature-three-dis .three-dis-list .three-dis-list-item {
  font: 400 16px Montserrat;
  margin-bottom: 20px;
  padding-left: 35px;
}
.feature .feature-three .feature-three-dis .three-dis-list .three-dis-list-item:before {
  position: relative;
  left: -35px;
  display: inline-block;
  content: "\2714";
  width: 16px;
  height: 16px;
  margin-right: -22px;
  border: 2px solid #7de321;
  border-radius: 100px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #7de321;
}
.feature .feature-btn {
  cursor: pointer;
  text-align: center;
  width: 60px;
  margin: 0 auto;
}
.success_stories {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 90px 5% 71px;
}
.success_stories .success_stories-h {
  font: 400 36px Montserrat;
  text-align: center;
  margin-bottom: 55px;
}
.success_stories .success_stories-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 80px;
}
.success_stories .success_stories-items .success_stories-items-item {
  width: 320px;
}
.success_stories .success_stories-items .success_stories-items-item .stories-items-item-read {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 30px;
  width: 100%;
  height: 260px;
  background: linear-gradient(0deg, rgba(131, 110, 255, 0.6), rgba(131, 110, 255, 0.6)), url(../images/clients/stories_img.jpg);
  border-radius: 10px;
  transition: 1s;
}
.success_stories .success_stories-items .success_stories-items-item .stories-items-item-read .item-read-btn {
  opacity: 0;
  width: 190px;
  height: 60px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font: 400 24px Montserrat;
  border-radius: 5px;
  background-color: #fff;
}
.success_stories .success_stories-items .success_stories-items-item .stories-items-item-read:hover {
  background: linear-gradient(0deg, rgba(131, 110, 255, 0.87), rgba(131, 110, 255, 0.87)), url(../images/clients/stories_img.jpg);
}
.success_stories .success_stories-items .success_stories-items-item .stories-items-item-read:hover .item-read-btn {
  opacity: 1;
  transition: 0.5s;
}
.success_stories .success_stories-items .success_stories-items-item .stories-items-item-dis {
  font: 400 16px Montserrat;
}
.success_stories .success_stories-items .success_stories-items-item:nth-child(2) {
  margin: 0 10%;
}
.success_stories .success_stories-btn {
  cursor: pointer;
  width: 190px;
  max-width: max-content;
  min-width: max-content;
  min-height: max-content;
  margin: 0 auto;
  padding: 20px 70px;
  text-align: center;
  font: 400 24px Montserrat;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(63, 64, 65, 0.21);
  border-radius: 5px;
}
.user-reviews {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 100px 90px;
  background-color: #f6f9fc;
}
.user-reviews .reviews-h2 {
  font: 400 36px Montserrat;
  text-align: center;
}
.user-reviews .reviews-users {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin: 60px 0 70px;
}
.user-reviews .reviews-users .reviews-users-user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 320px;
  height: 480px;
  padding: 35px;
  box-sizing: border-box;
  border: 1px solid #dddfe0;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
.user-reviews .reviews-users .reviews-users-user:hover {
  box-shadow: 0 2px 15px rgba(63, 64, 65, 0.21);
  transition: 0.5s;
}
.user-reviews .reviews-users .reviews-users-user .users-user1-img {
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  border-radius: 100px;
  border: 1px solid black;
  background-image: url("../images/clients/images_user.png");
}
.user-reviews .reviews-users .reviews-users-user .users-user2-img {
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  border-radius: 100px;
  border: 1px solid black;
  background-image: url("../images/clients/images_user.png");
}
.user-reviews .reviews-users .reviews-users-user .users-user3-img {
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  border-radius: 100px;
  border: 1px solid black;
  background-image: url("../images/clients/images_user.png");
}
.user-reviews .reviews-users .reviews-users-user .users-user-name {
  font: 400 22px Montserrat;
  text-align: center;
  margin-bottom: 15px;
}
.user-reviews .reviews-users .reviews-users-user .users-user-post {
  font: 400 14px Montserrat;
  text-align: center;
}
.user-reviews .reviews-users-user:nth-child(2) {
  margin: 0 10%;
}
.user-reviews .user-reviews-btn {
  cursor: pointer;
  width: 190px;
  max-width: max-content;
  min-width: max-content;
  min-height: max-content;
  margin: 0 auto;
  padding: 20px 70px;
  text-align: center;
  font: 400 24px Montserrat;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(63, 64, 65, 0.21);
  border-radius: 5px;
}
.get-product {
  padding: 90px 0 200px;
  background-color: #836EFF;
}
.get-product .get-product-banner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: max-content;
  margin: 0 auto;
  padding: 45px 35px 35px 30px;
  background-color: #f6f9fc;
  border-radius: 5px;
}
.get-product .get-product-banner .product-banner-h {
  margin-right: 30px;
}
.get-product .get-product-banner .product-banner-h .product-banner-h-name {
  font: 400 36px Montserrat;
  padding-bottom: 25px;
}
.get-product .get-product-banner .product-banner-h .product-banner-h-trial {
  width: max-content;
  margin-top: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #50e37b;
  font: 400 14px Montserrat;
}
.get-product .product-banner-info {
  background-color: #f6f9fc;
}
.get-product .product-banner-info .banner-info-free {
  margin-bottom: 15px;
}
.get-product .product-banner-info .banner-info-free .banner-info-item {
  font: 400 18px Montserrat;
  line-height: 26px;
}
.get-product .product-banner-info .banner-info-free .banner-info-item .banner-info-free-icon {
  margin-right: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #725dec;
  border-radius: 50px;
  padding: 3px 10px;
  margin-right: 9px;
}
.get-product .product-banner-info .banner-info-reviews .banner-info-item {
  font: 400 18px Montserrat;
  line-height: 26px;
}
.get-product .product-banner-info .banner-info-reviews .banner-info-item .banner-info-reviews-num {
  display: inline-block;
  width: 82px;
  color: #725dec;
  width: 60px;
}
.get-product .get-product-buy {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: max-content;
  padding: 0 8%;
  height: 175px;
  margin: -10px auto 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 8px 20px #3f4041;
}
.get-product .get-product-buy .product-buy-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin: 0 auto;
  border: 1px dashed #ffa600;
  border-radius: 10px;
}
.get-product .get-product-buy .product-buy-container .product-buy-item {
  font: 400 18px Montserrat;
  padding-top: 5px;
  margin-right: 15px;
}
.get-product .get-product-buy .product-buy-container .product-buy-item .product-buy-month-prise {
  font: bold 36px Montserrat;
}
.get-product .get-product-buy .product-buy-container .get-product-buy-btn {
  cursor: pointer;
  text-align: center;
}
/*# sourceMappingURL=product.css.map */